body {
	font-family: Arial, Helvetica;
	font-size: 16px;
	line-height: 1.5;

	background-color: aliceblue;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}
.center {
	max-width: 800px;
	margin: 20px auto;
}

.accord.li {
	position: relative;
}

.accord-li > input[type="radio"] {
	position: absolute;
	z-index: -1;
	opacity: 0;
}
.accord-toggle {
	max-height: 0;
	overflow: hidden;
}